CCCC(C(=O)N1CCN(C(=O)CN(C)C(=O)C2CCn3nccc3C2)CC1)S(N)(=O)=O
COCC1(C(=O)N(C)C[C@H]2CCCCN2C(=O)c2cc(Cl)n(C)n2)CCC1
CN(C(=O)CCCC(C)(C)C)C1CCN(C(=O)CNC(=O)C(C)(C)C)C1
Cc1noc(Cl)c1CC(=O)NCC=CCNC(=O)CCOCC(F)(F)F
Cc1cc(C(=O)NCC2(c3ccccc3)CCN(C(=O)c3ccc(F)cc3Cl)CC2)co1
CCCCc1nc(C(=O)N2CC(F)(CNC(=O)c3cc4ncccc4[nH]3)C2)cs1
CCc1cncc(C(=O)N2C[C@@H](NC(=O)C(C)OC)[C@H](c3cncn3C)C2)c1
O=C(NCC(=O)N1CC2CC(C1)N(C(=O)C1CCS(=O)(=O)N1)C2)c1ccsc1
CCCC(C)(C)C(=O)N[C@@H]1CCOC[C@@H]1NC(=O)[2C@@H]1OC[2C@@H]2CCC[2C@@H]21
CN(C)CCCCC(=O)NC[C@@H]1CC(C)(C)CN1c1ncnc2cccnc12
CC1(CC(=O)NC2CCCC(NC(=O)c3cccc4[nH]c(=O)oc34)C2)CC1
CC1CCN(C(=O)C23COC(CCO2)C3)CCN1C(=O)C1CC2CC1C1CC21
Cc1n[nH]c(CN2CCCC(NC(=O)Cc3cccs3)C2)n1
CC(C)C1=NOC(C(=O)N2CC=CC(NC(=O)c3coc(=O)c4ccccc34)C2)C1
CCCCS(=O)(=O)CC(=O)NCC1CCN1C(=O)c1ccn(C(F)F)n1
CC(=O)N1CSC[C@H]1C(=O)N1CC2CC1(CNC(=O)C1CCCNS1(=O)=O)C2
CCc1n[nH]c(C(=O)N2CC(NC(=O)C3CCCc4cn[nH]c43)CC3(CCOCC3)C2)c1Cl
CCc1noc2ncc(C(=O)NCC(O)CNC(=O)C(C)(C)C)cc12
NC(=O)c1cc(C(=O)N2CCC(C3CCCN(C(=O)c4n[nH]c5ccccc45)C3)CC2)on1
COCCC1(C(=O)N[C@@H]2CCN(C(=O)CCc3cccs3)C[C@H](O)C2)CC1
O=C(NCCC1CCCN(C(=O)c2cccn3nccc23)CC1)c1c(Cl)cccc1Cl
Cc1cc(C(=O)N2C[C@@H](NCc3nccnc3C)[C@H](c3ccccc3F)C2)ncn1
CC(C)CCC(=O)N[C@@H]1C[C@@H](O)[C@@H](CNC(=O)c2nc3ccccn3c2F)C1
COCCn1cc(C(=O)N2CC3CCC(C2)N3c2nc(C)nc(C)c2C)cn1
CC(C)n1cc(-c2cn(C3CC(C(=O)NCCOc4ccccc4)C3)nn2)cn1
CC1CCCCC1(CNC(=O)CCc1cnn(C)n1)NC(=O)C1(F)CCCC1
COCc1ccc(C(=O)NCC2CCN(C(=O)c3c(Cl)cncc3Cl)CC2)cc1
CCS(=O)(=O)NCC(=O)NC1CCCN(C(=O)C2CCN(C)C(=O)C2)CC1F
CC(NC(=O)C1CCC1)C(=O)NC1(C2CCN(C(=O)CNS(C)(=O)=O)C2)CC1
