NC(=O)c1cccc(C(=O)NC2CCCC2CNc2ncc(F)cn2)c1
Cn1cccc1C(=O)NC[C@]12CCC[C@H]1CN(c1ccc3nnnn3n1)C2
O=C(C1CCCC(F)(F)C1)N1Cc2ccc(CNc3ncccn3)cc2C1
Cc1ncsc1CCNC(=O)c1ccc(Cn2cc(-c3ccc4[nH]ccc4c3)nn2)cc1
CCC(=O)NC1CCCC2CN(C(=O)c3cnc4n3CCC4)CC21
CC(C)C(O)Cc1cn(Cc2ccccc2C(=O)NCCNC(=O)c2ccn[nH]2)nn1
CC1CCn2cc(C(=O)N3C[C@@H](O)[C@H](NC(=O)C(N)=O)C3)nc2C1
CCc1ocnc1C(=O)N1CC2(CN(C(=O)c3ccn(C)c(=O)c3)CCO2)C1
Cc1cc(C(=O)N[C@@H]2CCC[C@@H]2Cn2cc(C3(O)CCC3)nn2)oc1C
O=C(c1cnns1)N1CC2CCC2(Nc2ncnc3c2CCC3)C1
C=CCOCC1(C(=O)N[C@H](C)CNC(=O)c2cccc(S(=O)(=O)N(C)CC=C)c2)CCN(C(=O)OC(C)(C)C)C1
COCCN(CCNC(=O)C(F)c1ccccc1)Cc1ccccc1
Cc1cc(N(C)CC2CCCN2C(=O)c2cc(C3CC3)no2)ncn1
Cc1nc2c(c(NC34CCC3CN(C(=O)[C@H]3CCCO3)C4)n1)CCCC2
CCc1[nH]ccc1C(=O)N1C[C@@H]2CCCN(c3nccc(C(F)(F)F)n3)[C@@H]2C1
Cc1ccc(C(C)(C)CNC(=O)CCn2cc(CN(C)c3cnc(N)cn3)nn2)cc1
CNC(=O)c1cccc(C(=O)NC(C)CN(C)C(=O)Cn2cccn2)n1
O=C(NCc1ccccc1)[C@@]12C[C@@H](n3cc(CCCCCO)nn3)[C@@H]1C2
CCCN(c1ncccn1)C1CCN(C(=O)CC)CC1
CC[C@@H]1C[C@H]1C(=O)N1CCOC(C)(CNC(=O)CNC(=O)C2CCCCC2)C1
CCC(SC)C(=O)N1CC(n2cc(C3CCCC3)nn2)C1
Cc1ncsc1C(=O)NC1CCCN(c2nc(C(F)(F)F)ns2)CC1
O=C(O)c1ccc(-c2cn(CC(=O)N3CCCc4sccc4C3)nn2)cn1
CCS(=O)(=O)NCC(=O)N1CCC[C@@H]1CN(C)C(=O)CN(C)S(C)(=O)=O
CCn1ccnc1-c1cn(C[C@@H](C)NC(=O)[C@]23C[C@H]2[C@H](C)C3)nn1
Cc1cc[nH]c1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CC(C)(C)O)nn1
Cc1cc(CN[C@@H]2CN(C(=O)C#CC3CC3)C[C@H]2c2cn(C)cn2)on1
Cc1n[nH]c(CC(=O)N2CCCC(C3CCN(C(=O)Cn4cccn4)CC3)C2)n1
O=C(Cc1ccco1)NCC12CCC(CNc3ncnn4cccc34)(CC1)OC2
CCn1cnc(C(=O)NC2(C3CCN(c4nc5ccccc5o4)CC3)CC2)c1
COc1ncc(C(=O)NC2(C3CCN(C(=O)CCCC(C)C)CC3)CC2)cn1
CCN1CC2CC1C2NC(=O)c1c(C)nc2ccnn2c1C
O=C(C1CC12CCC2)N1CC2CCC2(Nc2ncnc3scnc23)C1
COCCCCC(=O)N1CCCC2CN(C(=O)c3ncccn3)CCC21
CCn1nccc1-c1cn([C@@H]2C[C@@]3(C(=O)N4CCOCC4)C[C@@H]23)nn1
COCCc1nsc(N[C@@H]2CN(C(=O)CC3CCC3)C[C@H]2C(F)(F)F)n1
O=C(NCC1(O)CCN(C(=O)C2=CCOCC2)CC1)c1cnc2cccnn12
O=C(C=C1CCCCC1)N[C@H]1CCC[C@H]1Cn1cc(C2(O)CCC2)nn1
O=C(N[C@H]1CCC[C@H]1Cn1cc(CO)nn1)c1cccnc1
COCCc1nsc(N[C@@H](C)CNC(=O)c2ccsn2)n1
O=C(NCC1c2ccccc2CCN1CCN1CCNC1=O)c1ccc(F)c2ccccc12
C#CCNC(=O)CC(=O)N1CCC(=O)NCCN(c2nc(C)nc3c2CCCC3)CC1
CCC(CC(=O)N1CC(n2cc(-c3ccccc3)nn2)C1)OC
CNC(=O)CN1C[C@H](n2ccnn2)[C@H](NC(=O)c2ccn(C)c2)C1
O=C1CCN(C(=O)[C@@H]2CCCO2)CCN(c2nc(-c3cc(Cl)cc(Cl)c3)no2)CCN1
Cc1ccnn1CC(=O)N1CCC(O)(CNc2ncc(C#N)cc2Cl)CC1
C=CCOCC1(C(=O)NC[C@@H](C)NC(=O)c2ccccc2S(=O)(=O)N(C)CC=C)CN(C(=O)OC(C)(C)C)CCO1
Cc1cc(C)nc(N2CCC(N(CCO)C(=O)c3ccn(C)c3)CC2)n1
O=C(Cn1cc(-c2cncs2)nn1)NC1CCc2ccccc2C1
Cc1cc(C(=O)NCC2(NC(=O)c3ccnc4ccncc34)CCCCC2)no1
CCCCc1cn(CC2CCN(C(=O)[C@H](O)C(C)C)CC2)nn1
NC(=O)C1(O)CCN(C(=O)c2ccccc2Cn2cc(CC(O)c3ccccn3)nn2)CC1
CC(=O)N1CCC(O)(CNc2nc3cc(C)ccc3o2)C1
CC1(C(=O)NC[C@]23CCC[C@H]2CN(c2ccc4nnnn4n2)C3)CCCCC1
CC(=O)N1CC(C(=O)NC2(C)CCN(Cc3cn(C)nc3C(F)F)C2)C1
CC(C)[C@@H](C(=O)NCC1COCCN1CCN1C(=O)NC(C)(C)C1=O)N(C)C
CCc1ncnc(N(CC)C2CCN(C(=O)Cc3cnc[nH]3)C2)c1F
CC(O)CCN(C)C(=O)Cn1cc(C2(O)CCOCC2)nn1
Cc1nc(N2CCC(NC(=O)C3CCN(C)CC3)C2C)c2cnn(C)c2n1
CC(O)c1cn(Cc2ccc(C(=O)N3CCOC(c4ccccc4)C3)o2)nn1
CC(C)=CC(=O)N1CCCC(n2cc(C(C)(C)C)nn2)C1
Cc1nccn1Cc1cn(C[C@@H]2CCC[C@@H]2NC(=O)C#CC2CC2)nn1
CCc1occc1C(=O)N1CCCCCC(Nc2cc(-n3ccnc3)ncn2)C1
CC1CCCC(C(=O)N2CCC(OCC3CCN(C(=O)c4cccc5ncccc45)CC3)C2)C1
O=C(N1CCOCC1)[C@@]12C[C@@H](n3cc(-c4ccccc4)nn3)[C@@H]1C2
Cc1ccnc(NC23CCC2CN(C(=O)[C@H]2CCCO2)C3)n1
Cc1cccc(C(=O)NC[C@H](C)NC(=O)[C@H]2CCCC(=O)N2)c1Cl
O=C(NCCCn1cc(C2(O)CCC2)nn1)C1CCCCCC1
Cn1cc(Cl)cc1C(=O)NC1CC2(CCN(C(=O)c3cc4ccccn4c3)CC2)C1
Cc1nscc1C(=O)NC1CC(C)N(c2cc(Cl)c(=O)[nH]n2)C1
CCc1oc(C(=O)N2C[C@H](NC(=O)CCc3c[nH]cn3)[C@H](O)C2)cc1C
Cc1cc(N2CCCC2CN(C)C(=O)Cc2c(C)n[nH]c2C)ncn1
Cc1ccc(C(=O)N[C@@H]2CCC[C@@H]2Cn2cc(CCO)nn2)n1C
Cc1nccc(NC23CCC2CN(C(=O)C(C)(F)F)C3)n1
CC1CN(C(=O)c2cc(C(F)(F)F)no2)CC1NC(=O)c1ccc(C(N)=O)[nH]1
COC(=O)c1nccc(N2CCC(N(C)C(=O)c3ccc(C)n3C)CC2)n1
CC1C(Nc2nc(C3CC3)ns2)CCCN1C(=O)CCc1ccoc1
CC1(C(=O)N2CCCC(Cn3cc(C4CC4)nn3)C2)CC(C#N)C1
C[C@@H](Cn1cc(-c2cccc(N)c2)nn1)NC(=O)CC1=CCCC1
Cc1cc(C)nc(N2C[C@H]3CN(C(=O)c4ncoc4C)C[C@H]3C2)n1
CC#CCN[C@@H]1CN(C(=O)c2ccncc2F)C[C@H]1c1cn(C)cn1
Cc1cc(C(=O)N[C@@H]2CCC[C@@H]2Cn2cc(C(C)(C)O)nn2)n(C)n1
Cc1cc(NC(=O)CN2CCCC(NC(=O)Cc3ccn(C)n3)CC2)no1
CCc1occc1C(=O)N(C)CC1CCCN(c2nc(C)cc(OC)n2)C1
CCC(O)c1cn(CCNC(=O)C2CCC(C)(C)CC2)nn1
CCc1ccccc1C(=O)N1CCC2C(CCCN2C(=O)c2csnc2C)C1
C=CCOc1ccccc1C(=O)N[C@@H](C)CNC(=O)C1(CC=C)CN(C(=O)OC(C)(C)C)C1
C=CCOc1ccccc1C(=O)N[C@H]1CCC[C@H]1NC(=O)C1(CC=C)CN(C(=O)OC(C)(C)C)C1
CC(C)c1nc(CN2CCc3ccccc3C2CNC(=O)Cc2cccc3ccccc23)n[nH]1
CCc1nnc(N2CCC(C)(NC(=O)c3cc(C)no3)C2)nc1CC
CCOc1cc(NC23CCC2CN(C(=O)c2ccco2)C3)ncn1
Cc1cccc2nc(NC34CCC3CN(C(=O)CC3CCOCC3)C4)oc12
CCOCC(=O)N1CCC(C)(Nc2ncnc3c2ncn3CC)C1
CC1COC(C(=O)N2CCN(c3cnc4ccccc4n3)CC2)C1
N#Cc1ccc(-c2cn(CCNC(=O)C3CC34CC4)nn2)cc1
Cc1occc1C(=O)N1CCCC(CNC(=O)c2c[nH]c3ncccc23)C1
COCC(=O)NC(C)C(=O)N1CCOCC1CNC(=O)c1cc(OC)no1
CN(c1ncnc2c1CCC2)C1CCN(C(=O)c2ccco2)C1
NC(=O)c1cccc(CN2CCN(C(=O)c3ccnn3CC(F)F)CC2)c1
COCc1cc(NC23CCC2CN(C(=O)c2cnc(C)cn2)C3)ncn1
COC(C)CC(=O)NC1CCCN(C(=O)c2cnc3n2CCC3)CC1
CC#CCN1C[C@H](n2ccnn2)[C@H](NC(=O)c2cc(CC)n[nH]2)C1
CCC(NC(C)=O)C(=O)N1CCC(n2cc(CN3CC(O)CCC3=O)nn2)C1
Cc1cc[nH]c1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CCO)nn1
Cc1c(C(=O)N2CCCC(C3CCN(C(=O)[C@H]4C[C@@H]4C)CC3)CC2)cnn1C
CCc1ccccc1CN1CCCC(CNC(=O)c2ccn(C)n2)C1
CCCn1ncnc1CN1C[C@@H]2OC(=O)N(C3CCN(C(=O)CC4(COC)CC4)C3)[C@@H]2C1
COc1ncc(Cl)c(N[C@@H]2CN(C(C)=O)C[C@H]2c2cn(C)cn2)n1
N#Cc1cccnc1N1C[C@H](n2ccnn2)[C@H](NC(=O)C=C2CCC2)C1
N#Cc1ccccc1CN1CCN(C(=O)c2cnn3ccncc23)CC1
Cc1[nH]c(=O)[nH]c(=O)c1CC(=O)N(C)CC1CCCN1c1ncnc2c1CCC2
C[C@@H](Cn1cc(-c2ccnn2C)nn1)NC(=O)C=C1CCC1
Cc1nc(C(=O)N2CC3CCC3(Nc3ccc(C(F)(F)F)cn3)C2)c[nH]1
CCc1c(C(=O)N2CCCC(N(C)Cc3ccc(C4CC4)cc3)C2)cnn1C
CSc1cc(C(=O)N[C@H]2CC[C@@H](N(C)C(=O)c3cc(F)cc4ccncc34)CC2)ccn1
CNC(=O)C1(C(=O)N[C@@H](C)CCNC(=O)c2ccc3ncccc3c2)CC1
CCCc1nsc(N2[C@H]3CC[C@@H]2C[C@H](CNC(=O)c2cc(=O)n(C)o2)C3)n1
Cn1cc(C(=O)NCC2C3CN(CCO)CC23)c(=O)[nH]c1=O
Cc1ccc2cc(C(=O)NCC3CN(Cc4ccc(F)cc4)CCO3)[nH]c2c1
CC(=O)N1CC2CCC2(Nc2nc(C)nc3sc(C)c(C)c23)C1
Cc1nc(CNC(=O)Cn2cc([C@H](O)c3ccccc3)nn2)sc1C
CN(CC1CCCO1)C(=O)c1ccccc1Cn1cc(C(O)C(C)(C)C)nn1
C[C@H](CC(F)(F)F)C(=O)N1CC2CCC1CN2C(=O)C12CCC(CC1)CC2
CC[C@@H](C(=O)N1CCCC(n2cc(C3CC3)nn2)C1)N(C)C
CC=Cc1cn(C(C)CNC(=O)Cc2cc(C)ccn2)nn1
Cc1cnc(CN2CCOCC2CNC(=O)[C@H]2CCC(=O)N2)o1
Cc1cc(C(F)(F)F)nc(NC23CCC2CN(C(=O)C(C)C)C3)n1
CCc1ncnc(N2CCC(NC(=O)c3noc4c3CCCC4)CC2)c1F
Cc1[nH]nc(C(=O)N2CCC(N3C(=O)O[C@H]4CN(CC=Cc5ccccc5)C[C@H]43)C2)c1C
Cc1ccc(C(=O)N2CC3CCC3(Nc3ncncc3Cl)C2)o1
COc1ccc(-c2cn(CC(=O)NCCc3c[nH]c4ccccc34)nn2)cc1OC
CC(C)c1cc(N(C)CCN(C)C(=O)c2nccnc2C(N)=O)nc(C(C)C)n1
CCOc1cc(N[C@@H]2CN(C(C)=O)C[C@H]2c2cn(C)cn2)ncn1
O=C(CCc1cn[nH]c1)N1CCC(C2CCCN(c3ncc(Cl)cn3)C2)C1
Cn1nccc1CN1C[C@H](n2ccnn2)[C@H](NC(=O)COCC2CC2)C1
CC(=O)N[C@@H]1CN(c2ccc(C)nn2)C[C@@H]1n1ccnn1
Cc1cnc(C(=O)NCCCCCn2cc(C3CC3)nn2)c(C)c1
