CC1(CNC(=O)C2CCN(C(N)=O)CC2)CCN(c2ccc3nccnc3n2)C1
CCCOc1ccccc1-c1cn([C@@H]2C[C@@]3(C(=O)N4CCOCC4)C[C@@H]23)nn1
CCCC1(C(=O)NCc2ccc(-n3cc(C(C)O)nn3)cc2)CC1
Cc1cc(N2CCCC2CN(C)C(=O)Cc2c(C)n[nH]c2C)ncn1
CCc1cc(C)nc(NC23CCC2CN(C(=O)CC2CCOCC2)C3)n1
C=CCOc1ccccc1C(=O)N[C@H]1CCN(C(=O)C2(CC=C)CN(C(=O)OC(C)(C)C)C2)C1
CNC(C)c1cn(Cc2ccc(C(=O)N3CCOCC3c3cc(F)cc(F)c3)o2)nn1
O=C(NC[C@]12CCC[C@H]1CN(c1ccc3nnnn3n1)C2)c1ccncc1Cl
CCC(=O)N1C[C@@H](Nc2ccc(C#N)nc2)[C@H](c2cn(C)cn2)C1
COCC(=O)N1C[C@@H](Nc2ncnc3c2CCC3)[C@H](c2cn(C)cn2)C1
CC(NC(=O)c1ccc(N(C)C)cn1)C1CN(C(=O)Cc2ccccc2F)C1
CCCN(CCNc1nc(C)nc2c1CCCC2)C(=O)[C@H]1CCCO1
COC(C)CC(=O)NC1CCCN(C(=O)c2cnc3n2CCC3)CC1
Cc1ccc(CC(=O)N2CCC3(CCN(c4cc(C)nc(CO)n4)C3)C2)cn1
CC(CC1CC1)C(=O)NCCn1cc(-c2ccsc2)nn1
NC(=O)c1cc(C(=O)N[C@@H]2CCCC[C@H]2Nc2cc(F)ncn2)c[nH]1
Cc1ccnc(NC23CCC2CN(C(=O)CC2CC2)C3)n1
CCc1ccc(C(=O)NCC2(C)CN(C(=O)c3ccoc3Cl)CCO2)cc1
COCCOCC(=O)N[C@@H]1CCN(C(=O)c2ccc3nonc3c2)[C@H]1C
O=C(N[C@H]1CCC[C@H]1Cn1cc(CO)nn1)c1cccnc1
CN1CCOC(C(=O)N2CCC(=O)NCCN(c3nccn4nnnc34)CC2)C1
CC(=O)N1CC2CCC2(Nc2nccc(OCc3ccccc3)n2)C1
C[C@@H](CCNC(=O)c1cn(C)c(=O)n1C)NC(=O)C1CC(=O)N(C(C)(C)C)C1
O=C(C=C1CCCCC1)N[C@H]1CCC[C@H]1Cn1cc(CCCO)nn1
O=C(NC[C@]12CCC[C@H]1CN(C(=O)c1ncc(Cl)s1)C2)c1ncccc1O
O=C(NCC1(O)CCN(CCCO)C1)c1cc(-c2ccccc2)[nH]n1
C[C@@H](NC(=O)C1CCCC12CC2)C1CCN(c2cnc3ccccc3n2)CC1
Cc1ccn2ncc(C(=O)N3CCN(C(=O)Cc4nc[nH]n4)CC3)c2c1
Cc1ccc(C(C)(C)CNC(=O)CCn2cc(CN(C)c3cnc(N)cn3)nn2)cc1
NC(=O)Nc1cccc(C(=O)N2CCC(C3CCCN(c4ncccn4)C3)C2)c1
Cn1cccc1C(=O)NCCN(c1ncnc2c1CCC2)C1CC1
CCOC(C(=O)NC1(C2CCN(c3cnc4ccccc4n3)CC2)CC1)C1CC1
C[C@@H](Cn1cc(-c2ccoc2)nn1)NC(=O)C1(C(F)F)CCC1
CCC1(C(=O)N2CC(CNC(=O)c3ccc(-n4ccnc4)nc3)C2)CCCC1
O=C(c1cc(-c2ccccn2)no1)N1CC[C@H]2CN(CC=CCl)C[C@H]21
Cn1cc(CCN2CCCC3(CCN(C(=O)c4ccc5[nH]ccc5c4)C3)C2)cn1
Cc1ccc(N2CCC[C@H]3CN(C(=O)c4nnn(C)c4C)C[C@H]32)nn1
CCc1nnc(N2[C@@H]3CC[C@H]2C[C@@H](CNC(=O)c2cnnn2C)C3)nc1CC
CCc1ncnc(N(CC)C2CCN(C(=O)Cc3cnc[nH]3)C2)c1F
Cc1cc(NC23CCC2CN(C(=O)c2cccs2)C3)nc(C)n1
Cc1ccccc1-c1nc(CN(C)CCN(C)C(=O)c2cn[nH]c(=O)c2)no1
O=C(Cc1cn2cc(F)ccc2n1)N1C[C@@H]2C[C@H]1CN2CCc1ccccc1F
O=C(NC1C2CC1N(CCOc1cccc(F)c1)C2)c1cc2ncccn2n1
CC1(C)C(C(=O)N[C@@H]2CCC[C@@H]2Cn2cc(CCCO)nn2)C1(C)C
Cn1cccc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CN2CCCC2)nn1
CN(C(=O)c1cnccn1)C1CCN(C(=O)C2C=CC=CC=C2)C1
Cc1cc(C(=O)NCC2(NC(=O)c3ccnc4ccncc34)CCCCC2)no1
CC(C)(C)c1cn(CCOCCNC(=O)C#CC2CC2)nn1
CC=C(C)C(=O)N[C@@H](C)Cn1cc(-c2c(F)cccc2F)nn1
CCc1ccccc1CN1CCCC(CNC(=O)c2ccn(C)n2)C1
CC(C)C(=O)N1CCCCC(Cn2cc(-c3ccccn3)nn2)C1
CCc1nc(C)cc(N2CC[C@@H]3CN(C(=O)C[C@H]4CCOC4)C[C@@H]32)n1
CC(C(=O)N(C)CCN(C)Cc1nnnn1C1CCOCC1)n1cccn1
Cc1cc(C(=O)N[C@@H]2CCC[C@@H]2Cn2cc(C3(O)CCC3)nn2)n(C)n1
CC(C)C(O)Cc1cn(Cc2ccccc2C(=O)NCCNC(=O)c2ccn[nH]2)nn1
CCC1(C(=O)N[C@H]2[C@@H]3CN(c4cc(C(C)(C)C)nc(C(C)C)n4)C[C@@H]32)CC1
CCCN(C)C(=O)c1ccc(Cn2cc(-c3ccccc3CC(=O)O)nn2)cc1
CSCC(=O)N1CCC([C@@H](C)NC(=O)c2nc3ncccn3n2)CC1
COCC1(C(=O)N2CC(C)C(NC(=O)c3cc(-c4ccco4)on3)C2)CC1
Cc1ccccc1C(=O)N1CCC2(CC1)CN(C(=O)c1ccoc1)C2
CCOc1cc(N[C@@H]2CN(C(=O)C(C)C)C[C@H]2c2cn(C)cn2)ncn1
CC=Cc1cn(CC2CCN(C(=O)c3cc(CC)n[nH]3)CC2)nn1
C=CC(CC)CC(=O)N1CCOC(C)(CNC(=O)Cc2cnc(C)o2)C1
CC(CC(=O)N1CCC2(CC1)CN(C(=O)C1(C)CC1)C2)c1ccccc1
COC(C)c1nsc(NC2CCCCCN(C(=O)C=Cc3ccco3)C2)n1
C=CCCOC(C)C(=O)N1CCC(=O)NCCN(c2nc(C)nc3c2CCCC3)CC1
Cc1cnn(C)c1C(=O)N1CCC(Nc2cc(C(C)C)ncn2)C(C)(C)C1
CCC(=O)NC1CCCC2CN(C(=O)c3cnc4n3CCC4)CC21
O=C(NC[C@]12CCC[C@H]1CN(c1ccc3nnnn3n1)C2)C1=COCCC1
CCn1cnc(C(=O)NC2(C3CCN(c4nc5ccccc5o4)CC3)CC2)c1
N#Cc1c(Cl)nsc1N1CCNC(=O)CCN(C(=O)C2=CCCC2)CC1
COCCc1nsc(N[C@@H](C)CNC(=O)c2cc(C)sn2)n1
CCC(=O)NCC1CN(C(=O)c2ccc(-c3cn[nH]c3)cc2)CCO1
Cc1[nH]ccc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CC2(O)CCC2)nn1
CN1CCCCC1C(=O)N1CCCC(n2cc(C3CC3)nn2)C1
Cn1nnc(C(=O)N2CCCC(C3CCN(C(=O)C4CC45CC5)CC3)CC2)n1
COCCN(CCNc1ncccn1)C(=O)c1cccc2c1OCC2
CN(CCN(C)C(=O)c1coc(CC2CC2)n1)C(=O)c1cocn1
CC(C)(CNC(=O)C(=O)Nc1ccc(Cl)cc1)Cn1cc(COc2cc(F)cc(F)c2)nn1
C=C(C)C(C)(C)C(=O)NCc1cccc(-n2cc(C(C)O)nn2)c1
C[C@@H](Cn1cc(COc2cc(F)cc(F)c2)nn1)NC(=O)c1cc(C(F)(F)F)no1
O=C(O)Cc1ccccc1-c1cn(Cc2ccc(C(=O)N3CCn4ncnc4C3)cc2)nn1
O=C1CCC[C@H](C(=O)N[C@H]2CCCN(c3nc4ccccc4o3)C2)N1
CC(=O)N1CCC[C@@H]1C(=O)NCC1c2ccccc2CCN1CCCOc1cccc2ccccc12
Cc1nc(N2CCC(NC(=O)C3CCN(C)CC3)C2C)c2cnn(C)c2n1
Cc1sc2ncnc(N[C@@H]3CN(C(=O)c4ccon4)C[C@@H]3O)c2c1C
CC(C)NC(=O)CCCC(=O)N1C[C@@H]2CCN(c3ncccn3)[C@@H]2C1
COCCc1nsc(N[C@H](C)CNC(=O)c2ccns2)n1
CC#CCN1C[C@@H](NC(=O)c2c(C)ccn2C)[C@@H](n2ccnn2)C1
C[C@]12CN(C(=O)c3cc(-c4cccs4)on3)C[C@H]1CN(c1ncccn1)C2
CCC[C@H](O)C(=O)N1CCC(Cn2cc(C3CC3)nn2)CC1
CCN(CC)C(=O)c1ccccc1Cn1cc(-c2cnc(F)cc2C)nn1
CC(O)Cc1cn(Cc2ccc(C(=O)N3CCN(Cc4ccccc4)CC3)o2)nn1
CC[C@@H](C(=O)N1CCN(Cc2ncnn2C(C)C)CC1)N(C)C
CCC(CNc1ncc(F)cn1)NC(=O)c1ccc(C(N)=O)cc1
O=C(N1CCOCC1)[C@@]12C[C@@H](n3cc(-c4cccnc4)nn3)[C@@H]1C2
CCc1nnc(N2CCC([C@@H](C)NC(=O)C3CC34CCC4)CC2)nc1CC
O=C1NCCC1C(=O)N1CC2CCC2(Nc2nc3ccccc3o2)C1
CC(CNC(=O)c1ccc(-c2cn[nH]c2)cn1)NC(=O)C1CC1(F)F
NC(=O)c1ccc(C(=O)N2CC(NC(=O)CCc3c[nH]cn3)C2)nc1
Cc1cc(C)nc(N[C@H]2[C@@H]3CN(C(=O)CNC(=O)c4cccc(F)c4)C[C@@H]32)n1
CCN(CCNC(=O)C1CCCC(=O)N1C)c1cccc(F)c1C#N
Cc1ccc(C)c(CN2CCOC(CNC(=O)c3ccn(C)n3)C2)c1
CCOc1cc(N[C@@H]2CN(C(=O)CC)C[C@H]2c2cn(C)cn2)ncn1
Cc1csc(C(=O)NC[C@]23CCC[C@H]2CN(c2ccc4nnnn4n2)C3)c1
Cc1cnc(C(=O)NC2C3CC2N(Cc2cncc(F)c2)C3)cc1C
Cc1cccc(C(=O)N2CCN(c3cnc4ccccc4n3)CC2)c1
Cn1nccc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CCO)nn1
CCN1C[C@@H]2OC(=O)N(C3CCN(C(=O)c4cccc5c4NC(=O)CO5)C3)[C@@H]2C1
C=CCC1(C(=O)N[C@H](C)Cn2cc(Cn3cccc3)nn2)CC1
O=C(NC[C@H]1C[C@H]2CC[C@@H](C1)N2CC(Cl)=CCl)c1ccc2cc[nH]c2n1
Cc1nn(C)c(C)c1CC(=O)N1CC2(CCN(C(=O)C(C)(C)CC(F)F)C2)C1
Cc1cccc2nc(N3CCC([C@@H](C)NC(=O)C4CCOC4)CC3)sc12
CN1CCC(C(=O)N[C@@H]2CCCC[C@H]2NC(=O)C2CCCCC2)CC1
CCC1CN(C(=O)CN(C)C2CCC2)CCC1NC(=O)c1cc(N)cc(O)c1
CC1(C)CCC1C(=O)NC1(CNC(=O)CCNC(=O)c2ccco2)CCCC1
Cc1cc2ccc(C(=O)N3CCCC3CNC(=O)c3ccn(C(C)C)n3)cn2c1
Cn1cnc([C@@H]2CN(C(=O)c3ccco3)C[C@H]2Nc2ncc(F)cn2)c1
Cc1ccoc1C(=O)N1C[C@@H]2OC(=O)N(C3CCN(C(=O)c4ccnn4C)C3)[C@@H]2C1
CN1CCc2cc(C(=O)N3CCCC(C)(CNC(=O)Cn4cnnn4)C3)ccc21
CC=Cc1cn(CCCCCNC(=O)C2OCC2(C)C)nn1
Cc1nnc(CC(=O)NC2(C3CCN(C(=O)Cc4cccs4)CC3)CC2)o1
CC1CN(C(=O)CN2CCCCS2(=O)=O)CCC1NC(=O)c1ccc(N)c(O)c1
CC(c1ccc(F)c(F)c1)N1CCC(NC(=O)c2ccc(C(N)=O)s2)C1
COc1cc(CC(=O)NCC[C@H](C)NC(=O)CCCC2CCCC2)ccn1
Cn1ccc(C(=O)NCc2ccc(CNC(=O)C3CCCO3)cc2)n1
Cc1ccoc1C(=O)N1C[C@H]2CCN(c3ccnc(C(C)C)n3)[C@H]2C1
O=C1CCC[C@H](C(=O)N2C[C@@H]3C[C@H]2CN3Cc2ccc(Cl)cc2)N1
O=C(NCCCn1cc(C2(O)CCC2)nn1)C1CCCCCC1
O=C(CCc1ccncc1)NC1CCN(c2cc(Cl)c(=O)[nH]n2)CC1
CC(C)N(CCCNC(=O)C(C)C(F)(F)F)C(=O)c1cc2occc2[nH]1
Cc1ccnc(N[C@@H]2CN(C(=O)c3ccnn3CC(C)C)C[C@H]2C)n1
CCc1nc(C(=O)N[C@@H](C)CCNC(=O)c2cnc(C)s2)co1
C=CC(CC)CC(=O)N1CCOCC1CNC(=O)C(C)(C)c1ccccc1
CCC(C)(C)c1cn(CC2CCN(C(=O)C(C)(C)O)CC2)nn1
CCC(=O)N1CCCC1Cn1cc(-c2ccccc2)nn1
O=C(CCn1ccnn1)N1CCC(N2C(=O)O[C@H]3CN(CC#Cc4ccccc4)C[C@H]32)C1
CCCN(c1ncc(Cl)cn1)C1CCN(C(=O)c2ccc(C3=CCCC3)cc2)CC1
O=C(NCC1c2ccccc2CCN1CCN1CCNC1=O)c1cccc2ccccc12
C[C@H](C(=O)N(C)CCN(C)c1nccc(Oc2ccccc2)n1)c1ccccc1
O=C(c1cocn1)N1CCCN(Cc2csc(Cl)n2)CC1
Cn1c(C(=O)N2CCN(c3cnc4ccccc4n3)CC2)cccc1=O
O=C(COC1CCCC1)N1CC2CCC2(Nc2nccn3nnnc23)C1
CCc1ccccc1CN1CCOC(CNC(=O)c2ccn(C)n2)C1
COc1nc(C)cc(N2CCCC(N(C)C(=O)CCn3ccccc3=O)C2)n1
O=C(C#CC1CC1)N[C@H]1CCC[C@H]1Cn1cc(C2(O)CCC2)nn1
COC(C)(C)c1cn(C(C)CNC(=O)C(F)(F)C(F)F)nn1
CNC(C)c1cn(Cc2ccc(C(=O)NCCNC(=O)c3ccc(C)cc3)o2)nn1
CCC1(C(=O)NCC(C)n2cc(CCO)nn2)CCCCC1
Cn1cnc([C@@H]2CN(C(=O)C3CC3)C[C@H]2Nc2cnc(C#N)cn2)c1
CC1(c2cn(CC3CCCN3C(=O)C#CC3CC3)nn2)CC1
C=CCC(=O)N1C[C@@H](C)[C@@H](n2cc(C3CCCCC3)nn2)C1
O=C(N1CCCC1Cn1cc(-c2cc(Cl)cc(Cl)c2)nn1)C1(c2ccccn2)CC1
COCC(=O)N1C[C@@H](Nc2cc(C)ncc2C#N)[C@H](c2cn(C)cn2)C1
O=C(NC[C@]12CCC[C@H]1CN(c1ccc3nnnn3n1)C2)C1=CCOCC1
CC(C)c1nccc(N(C)CC2CCCN(C(=O)c3[nH]c4ccccc4c3Cl)C2)n1
O=C(N[C@H]1CCC[C@H]1Cn1cc(C2(O)CCC2)nn1)c1ccncc1F
CN(CC(=O)N1CCC1)C1CCCN(C(=O)c2ccnc(C3CCCC3)n2)C1
COc1ccnc(NC23CCC2CN(C(=O)c2ccccc2)C3)n1
CC=Cc1cn(CCOCCNC(=O)[C@@H]2CCCC[C@H]2O)nn1
CCCNC(=O)CN(C)CCN(C)C(=O)c1c[nH]c(-c2ccccc2)n1
O=C(NC[C@]12CCC[C@H]1CN(c1ccc3nnnn3n1)C2)C1(F)CCCC1
C=CC(C)(O)CC(=O)N1C[C@@H](n2cc(C=CC)nn2)[C@@H](C)C1
Cc1cc(F)cc(C(=O)N2CCC3C(CCCN3C(=O)c3cc(C)n[nH]3)C2)c1
COC(=O)c1cnc(N2C[C@H]3CN(C(=O)Cc4ccsc4)CC[C@H]3C2)nc1
Cc1nc2ccc(C(=O)N[C@@H]3C[C@@H]4CC[C@H]3N4Cc3ccc(F)cc3F)cc2o1
O=C(c1ccsc1)N1CCCC(C2CCN(C(=O)c3ccnnc3)CC2)CC1
COCc1nc(NC23CCC2CN(C(=O)c2ccccn2)C3)cc(OC)n1
Cc1cc(CC(=O)N2CCC(C3CCCN(C(=O)Cn4cncn4)C3)C2)n[nH]1
O=C(c1ccc2[nH]ccc2c1)N1CCC2(CCN(CCc3ccccc3F)C2)C1
CC(C)C(=O)N1CC2CCC2(Nc2cnc3ccccc3n2)C1
O=C(C1CC1(F)F)N1CCC(N2C(=O)O[C@H]3CN(Cc4nc(-c5ccoc5)no4)C[C@H]32)C1
Cc1nc(C(=O)N2CCOC3(CCN(Cc4ccns4)CC3)C2)co1
CC(C)c1cc(C(=O)N2Cc3ccccc3OC3(CCN(CC(=O)N(C)Cc4cnn(C)c4)CC3)C2)n(C)n1
O=C(NCc1cn(C2(C(=O)NCc3ccccc3)CC2)nn1)Nc1ccc(Cl)cc1
Cc1occc1C(=O)N1CCCC(CNC(=O)c2c[nH]c3ncccc23)C1
COC(C)c1nsc(N2[C@@H]3CC[C@H]2C[C@@H](CNC(=O)c2ocnc2C)C3)n1
Cc1csc2ncnc(N3CC4CC3C4NC(=O)c3scnc3C(C)C)c12
COc1cc(C)nc(NC23CCC2CN(C(=O)c2cccs2)C3)n1
Cc1n[nH]nc1C(=O)N(C)CCN(C)C(=O)c1ccc2ncccc2c1
O=C(C1CCCCC1)N1CC2CCC2(Nc2ncncc2Cl)C1
CN1CCC[C@H]1C(=O)NCCCCCn1cc(C(C)(C)C)nn1
Cc1nsc(NC23CCC2CN(C(=O)C2CCCC2)C3)n1
Cc1cnc(CNC(=O)Cn2cc([C@H](O)c3ccccc3)nn2)s1
O=C(c1cc(Cl)c[nH]1)N1CC2CCC2(Nc2nc(C(F)(F)F)ns2)C1
Cc1cnn(C)c1C(=O)N[C@@H]1C[C@@H]2CC[C@H]1N2CC=Cc1ccc(Cl)cc1
CCCC(C)C(=O)NC1CCN(CC(=O)Nc2cccc(Cl)c2C)CC1
Cc1ccnc(N2C[C@@H]3CN(C(=O)c4cnns4)C[C@]3(C)C2)n1
O=C(NCC(Nc1ncc(F)cn1)C1CC1)c1cnc2[nH]ncc2c1
CN(CCNC(=O)C1Cc2ccccc2C1)C(=O)c1cccc(=O)n1C
Cc1ccncc1-c1cn(C2CN(C(=O)/C=C/C(C)(C)C)C2)nn1
COc1cc(C(=O)N2CCC(C)(NC(=O)c3cc(Cl)cs3)C2)ccc1C
Cc1cnccc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CCO)nn1
Cc1c(F)cccc1C(=O)NCCC(C)NC(=O)c1cccs1
CCC(CC(C)C)C(=O)NC12CCCC1N(C(=O)c1ccc3nncn3c1)CC2
Cc1ccc(NCC2CCCN2C(=O)c2ccc(C(N)=O)cn2)nn1
CC(O)c1cn(Cc2ccc(C(=O)N3CCOC(c4ccccc4)C3)o2)nn1
CC(=O)c1cccc(C(=O)N(C)[C@H]2CC[C@@H](NC(=O)c3cc(F)cc4ccncc34)CC2)c1
Cc1cc(NC23CCC2CN(C(=O)c2cnn(C)c2C)C3)ncn1
CCc1[nH]ccc1C(=O)N1C[C@@H]2CCCN(c3nccc(C(F)(F)F)n3)[C@@H]2C1
CCc1ccc(CC(=O)N[C@@H](C)Cn2cc(C3CC3)nn2)nc1
CC(COc1cccc(F)c1)NC(=O)Cn1cc(-c2ccc(C(=O)O)cc2)nn1
O=C(NC[C@]12CCC[C@H]1CN(c1ccc3nnnn3n1)C2)c1ccccc1F
O=C(NC1CCN(c2ncccn2)C1)c1cccs1
Cn1cc(OCC(=O)NCC2(NC(=O)C3(F)CCCCC3)CCCCC2)cn1
O=C(c1ccccn1)N1CCC2(CCN(C(=O)c3cnco3)CC2)C1
Cc1cccc2nc(N(C)C3CCCN(C(=O)Cn4ccnc4C)C3)oc12
CC1CC(CNC(=O)CC2CCC2)CN1c1ccc2nnnn2n1
CC=C(C)C(=O)NCc1ccc(-n2cc(CN(C)C)nn2)cc1
Cc1cccc(C(=O)N2CCC(C3CCCCN3C(=O)CCn3cnnn3)C2)c1
Cn1cc(CC(=O)NC(CCCNC(=O)c2cccc(Cl)c2Cl)c2ccccc2)cn1
CCC(=O)Nc1cccc(C(=O)NCC[C@H](C)NC(=O)c2cncc(OC)n2)c1
CCC(F)C(=O)NCCCn1cc(-c2ccc(C)cn2)nn1
O=C(NC(c1ccccc1)c1cccs1)c1ccc(Cn2cc([C@@H]3CCC[C@H]3O)nn2)cc1
Cc1cc(N2C[C@@H](NC(=O)C(C)C)[C@@H](n3ccnn3)C2)c(C#N)cn1
Cc1nc(N2[C@@H]3CC[C@H]2[C@@H](NC(=O)C2(CF)CC2)C3)c2c(C)c(C)sc2n1
CCc1cc2c(N3C[C@@H]4CN(C(=O)C5CCNC5=O)C[C@]4(C)C3)ncnc2s1
Cc1ccnc(CN2C[C@@H](NC(=O)C#CC3CC3)[C@@H](n3ccnn3)C2)n1
COCCOCC(=O)NC1C2CC1N(CCOCC1CCC1)C2
Cc1ccc(N[C@@H]2CN(C(=O)CC3CCC3)C[C@H]2c2cn(C)cn2)nn1
O=C(CC1CCC1)N1CCC(Cn2cc(-c3ccccn3)nn2)C1
Cc1c(C(=O)N2CCCC(C3CCN(C(=O)[C@H]4C[C@@H]4C)CC3)CC2)cnn1C
COC(C)CC(=O)NC1(C2CCN(c3nc4c(F)cccc4o3)CC2)CC1
Cc1c[nH]cc1C(=O)N1CCC(n2cc(CC3(O)CCCCC3)nn2)C1
CCOc1ccc(-c2cn(CCNC(=O)C(C)C3CC3)nn2)cc1
Cc1occc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(C(C)(C)O)nn1
CC1(C(=O)NC[C@]23CCC[C@H]2CN(c2ccc4nnnn4n2)C3)CCCCCC1
Cc1cncc(CN2C[C@@H]3OC(=O)N(C4CCN(C(=O)Cc5nnc(C)o5)C4)[C@@H]3C2)c1
Cc1cc(=O)c(C(=O)N(C)C2CC(NC(=O)[C@@]3(C)C[C@@H]3c3ccccc3)C2)c[nH]1
C=C[C@@H]1OCC[C@H]1C(=O)N1CCOCC1CNC(=O)c1cnn(C)c1C
Cc1[nH]c(=O)[nH]c1C(=O)N(C)CC1CCN(c2cnc3ccccc3n2)C1
COC(C)c1cn(C(C)CNC(=O)c2ccc(C)c(C)n2)nn1
O=C(N[C@H]1C[C@@](CNc2ncnn3cccc23)(c2ccccc2)C1)C1CCCN1C1CC1
CCC1CN(c2ncncc2Cl)CCC1NC(=O)c1cn(C(C)C)cn1
CC(CNC(=O)[C@@H]1C[C@H]1C)n1cc(CCOc2ccccc2)nn1
CCc1c[nH]cc1C(=O)N1C[C@@H](C)[C@@H](n2cc(C3CC3)nn2)C1
N#Cc1ccc(-c2cn(CCNC(=O)C3CC34CC4)nn2)cc1
CC(C)(C)C#CC(=O)N[C@@H]1CCC[C@@H]1Cn1cc(C2(O)CCC2)nn1
CCN(CCNC(=O)C1CCCCN1C(C)C)c1ccnc(C)n1
Cn1nc2ccccc2c1C(=O)NCCN(CC1CCCCO1)C1CC1
CN(CCN(C)C(=O)c1cncc2ncn(C)c12)C(=O)c1occ2c1CCOC2
CC(C)c1nsc(CN(C)C2CCCN(C(=O)Cc3ccsc3)C2)n1
CNC(=O)CC(=O)NCC1CC(NC(=O)CCc2cn[nH]c2)C1
O=C(NC1CCC(CCNc2ncnn3cccc23)C1)C12CCCN(CC1)C2
COCCc1nsc(N[C@@H](C)CNC(=O)c2ccsn2)n1
O=C(c1cc(Cl)c[nH]1)N1CCN(CCNc2cnc3ccccc3n2)CC1
O=C(N1CCOCC1)[C@@]12C[C@@H](n3cc(-c4ccccc4)nn3)[C@@H]1C2
CCCC1(C(=O)N[C@@H]2CCN(c3nc(CCOC)ns3)C2)CC1
CCCCC(C)C(=O)NCCN(CCC)C(=O)c1cnc(C)n1C
Cc1ccnc(N2C[C@@H]3CN(C(=O)[C@H]4CCCO4)C[C@]3(C)C2)n1
Cn1cnc([C@@H]2CN(C(=O)C3CC3)C[C@H]2Nc2ccncc2C#N)c1
N#CCN1C[C@@H](NC(=O)c2ccoc2Cl)[C@@H](n2ccnn2)C1
CC(CN(C)C(=O)C1CC1)NC(=O)CCc1nnc[nH]1
Cc1cnc(CN2C[C@@H](NC(=O)C=C3CCC3)[C@@H](n3ccnn3)C2)o1
CC(C)(C)C(=O)N1CCCC(Cn2cc(C3CCCC3)nn2)C1
CC1CN(C(=O)CN2CCOCC2=O)CC1Nc1ccnc(C#N)n1
COc1ccccc1-c1cn(CC(=O)NCCc2ccc(F)cc2)nn1
CSCC(C)C(=O)NCCn1cc(-c2ncccc2C)nn1
Cc1cc(N2CCC3(NC(=O)c4cncs4)CCCC23)c(C#N)cn1
O=C(c1ccc(-c2cn[nH]c2)cn1)N1CC[C@H]2CN(c3cnc(F)cn3)C[C@H]2C1
Cc1cc(N2[C@@H]3CC[C@H]2[C@@H](NC(=O)C2CCc4ccccc4C2)C3)ncn1
Cc1c[nH]nc1C(=O)N1CCC2(CCC2)C(CNC(=O)Cn2ccnc2C)C1
CCC(NC(C)=O)C(=O)N1CCC(n2cc(CN3CC(O)CCC3=O)nn2)C1
CCCC(C)CC(=O)N[C@@H]1C[C@@H]2CC[C@H]1N2C(=O)c1ccc2[nH]nnc2n1
O=C(NC[C@H]1C[C@H]2CC[C@@H](C1)N2c1nc(C2CCCC2)ns1)c1ccc[nH]1
CC=Cc1cn(CC2CCCN2C(=O)[C@@H]2C[C@H]3CC[C@@H]2O3)nn1
Cn1cc(C(=O)N2CCN(c3cnc4ccccc4n3)CC2)ccc1=O
CC#CCN1C[C@@H](NC(=O)Cc2cnn(C)c2)[C@@H](n2ccnn2)C1
C[C@@H]1CC[C@H](C(=O)NCc2ccccc2CN(C)C(=O)CCn2cccn2)O1
COCCc1nsc(N2CCNC(=O)CCN(C(=O)c3oc(C)nc3C)CC2)n1
O=C(Cn1cc(C2(O)CCOCC2)nn1)NCc1ccccc1CO
CC(=O)NC(C)C(=O)N1CCCCCC(Nc2nc(C)nc(N(C)C)n2)C1
Cn1ccc(C(=O)N[C@@H]2CN(Cc3ncnn3C)C[C@@H]2n2ccnn2)c1
O=C(NC1COC2(C1)CN(CCn1cccn1)C2)c1cncc(F)c1
