CC(CCCc1ccccc1)C(=O)N(C)CC1CCCN1C(=O)c1cccnc1
COc1ccccc1CC(=O)N1CCCC(N(C)Cc2nnnn2C2CC2)C1
C#CCOCCC(=O)N1CCC2(CC1)C(NC(=O)CCCC)CS2(=O)=O
C[C@]12CN(C(=O)COC3CCCC3)C[C@H]1CN(c1nc3ccccc3o1)C2
C=CCCCc1cn([C@H]2CN(C(=O)c3ccc[nH]3)C[C@H]2C)nn1
Cn1nccc1CN1C[C@H](n2ccnn2)[C@H](NC(=O)C#CC2CC2)C1
O=C(NCC(Nc1ncc(F)cn1)C1CC1)c1cnc2[nH]ncc2c1
COc1ccc(C(=O)N2CCC3C(CCCN3C(=O)CS(C)(=O)=O)C2)cc1
CCN(c1ncnc2c1CCC2)C1CCN(C(=O)c2c(OC)ncnc2OC)C1
CCCNC(=O)NC(C)(C)C(=O)NC1CC(C)N(c2nc(C)cc(C)n2)C1
O=C1CCC[C@H](C(=O)N[C@H]2CCCN(CCOc3ccccc3)C2)N1
Cc1cc(C)nc(N2CCC(C(C)NC(=O)CN(C)Cc3ccccc3)CC2)n1
COC(=O)NCC(=O)N1CCC(N(C)Cc2ccc(-n3nc(C)cc3C)cc2)C1
Cn1cnc([C@@H]2CN(C(=O)C3CCC3)C[C@H]2Nc2ncccn2)c1
Cc1n[nH]c(C(=O)N2C[C@@H](NC(=O)CCc3cn[nH]c3)[C@H](c3cnn(C)c3)C2)c1Cl
CC=Cc1cn([C@H]2CN(C(=O)Cc3ccn(CC)n3)C[C@H]2C)nn1
COCc1cn(C[C@H](C)NC(=O)C2(C)C(C)(C)C2(C)C)nn1
O=C(CC1C=CCC1)N1CCC(Cn2cc(C3CC3)nn2)C1
O=C(NCC(=O)N1CCOC2(C1)CN(C(=O)C1CCCNS1(=O)=O)C2)c1cscn1
Cc1nc(C(=O)N2CCOC3(CCN(Cc4ccns4)CC3)C2)co1
C=CCOCC1(C(=O)NC[C@@H](C)NC(=O)c2ccc(OC)cc2OCC=C)CN(C(=O)OC(C)(C)C)CCO1
Cc1cccc2nc(N3CCC4C(CCCN4C(=O)Cc4ccon4)C3)sc12
O=C(Cc1cncnc1)N1CCC(C2CCCN(c3nccnc3F)CC2)CC1
O=C(N1CCOCC1)[C@@]12C[C@@H](n3cc(-c4ccccn4)nn3)[C@@H]1C2
Cn1ccc(C(=O)NC[C@]23CCC[C@H]2CN(c2ccc4nnnn4n2)C3)c1
CCOc1ccc(-c2cn(CC(=O)NCc3ccc(F)cc3)nn2)cc1F
COCCOCCN1CCOCC1CNC(=O)CC(C)(C)C1CCCCC1
CCc1[nH]ccc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CCO)nn1
Cc1cc(C)nc(N2CCCC(N(C)C(=O)C(C)(C)F)C2)n1
CCc1nc(C)cc(N2CCCCCC2CNC(=O)c2n[nH]c3c2CCC3)n1
CN(C)CCC(=O)N1CC2CCC1CN2C(=O)c1cc2cccn2cn1
CN(CCN(C)C(=O)c1cncc2ncn(C)c12)C(=O)c1occ2c1CCOC2
Cc1cc(CC(=O)N2CCC(C3CCCN(C(=O)Cn4cncn4)C3)C2)n[nH]1
CN(c1cnc2ccccc2n1)C1CC(NC(=O)CNC(=O)N2CCCC2)C1
Cc1ccnc(N2C[C@H](n3ccnn3)[C@H](NC(=O)C#CC3CC3)C2)n1
C[C@@H](NC(=O)C1CCCC12CC2)C1CCN(c2cnc3ccccc3n2)CC1
O=C(NC[C@]12CCC[C@H]1CN(C(=O)c1ncc(Cl)s1)C2)c1ncccc1O
Cc1cccc2oc(C(=O)NCC(C)Nc3ncncc3Cl)cc12
CC(C)Cn1ccc(C(=O)NCC2CN(CC3CC3)CCO2)n1
CC(=O)N[C@@H]1CCC[C@@H]1Cn1cc(C2(O)CCCCC2)nn1
CC(NC(=O)c1ccc(N(C)C)cn1)C1CN(C(=O)Cc2ccccc2F)C1
COC(C(=O)N1CC2CCC1CN2C(=O)c1ccc(C(C)(C)C)s1)C(C)C
Cc1cnn(C)c1C(=O)N1CCC(Nc2cc(C(C)C)ncn2)C(C)(C)C1
C=CCCn1cc(C(=O)N2CCC(N(CC)C(=O)C3CCOC3)C2)nn1
Cc1sccc1CC(=O)N1CCOC(CNc2ccc3nnnn3n2)C1
O=C(NC[C@@H]1CCC[C@H](Cn2cc(C3CC3)nn2)C1)C1CC=CC1
CC1(CCC(=O)NCCn2cc(C3(O)CCCC3)nn2)CC1
COC(C)C(=O)NCCn1cc(CN2CCC(C)(C)CC2)nn1
CC(C)c1nsc(NC23CCC2CN(C(=O)c2ccco2)C3)n1
Cc1cc(NC2CC(NC(=O)c3cccc4c3OCC4(C)C)C23CCC3)ncn1
CCC(=O)N1CCCCC1C(=O)N1CCCN(c2ccnc(C)n2)CC1
C=CC(C)C(C)C(=O)NCCCN(C)c1ncnc2[nH]cnc12
CC1(C)CC(O)(C(=O)N2CCCC2Cn2cc(C3CC3)nn2)C1
Cc1[nH]cnc1CC(=O)N1CCC([C@@H]2OCC[C@H]2NC(=O)c2cc(F)c[nH]2)CC1
CCc1cc(C(=O)N2CCCC(N3CCN(C(=O)[C@@H]4CCN(C)[C@@H]4C)CC3=O)C2)cc(=O)[nH]1
O=C(C1=CCCCCC1)N1CCC(N2C(=O)O[C@H]3CN(Cc4nccn4C(F)F)C[C@H]32)C1
NC(=O)CCCCC(=O)N[C@@H]1C[C@@H]2CC[C@H]1N2C(=O)c1ccc2c(c1)CCO2
Cn1cc(CN2C[C@H](n3ccnn3)[C@H](NC(=O)c3cccnc3)C2)cn1
Cc1[nH]ccc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CCCO)nn1
O=C(NCCC1CCN(C(=O)c2c(Cl)ccnc2F)C1)c1cc(Cl)ccc1Cl
CCc1nc(C)cc(NC23CCC2CN(C(=O)c2cnccn2)C3)n1
Cc1nnc(CC(=O)NC2(C3CCN(C(=O)Cc4cccs4)CC3)CC2)o1
CCCc1nsc(NC23CCC2CN(C(=O)c2ccon2)C3)n1
CCC(=O)N[C@@H]1CN(c2cccc(F)c2C#N)C[C@@H]1n1ccnn1
CC1CC(C(=O)N[C@@H](C)Cn2cc(-c3ccnc(N)c3)nn2)C1
CC=Cc1cn(CC2CCCN2C(=O)c2cccc(F)c2C)nn1
CC=Cc1cn(CC2CCCN2C(=O)COCC2CC2)nn1
COc1ccc(CN2CCCC(NC(=O)CCn3cc(Cl)cn3)C2C)cc1
Cc1cc(C)cc(CN2C[C@@H]3C[C@H]2CN3C(=O)[C@H]2CCCC(=O)N2)c1
COCc1cc(NC23CCC2CN(C(=O)c2ncn(C)n2)C3)nc(C(C)(C)C)n1
CC(C)C(=O)N1CCCC2CN(c3snc(Cl)c3C#N)CCC21
O=C(NC[C@@H]1C[C@@H]2CC[C@H](C1)N2c1nc(C2CCCC2)ns1)c1ccc[nH]1
O=C(c1[nH]c2ccccc2c1Cl)N1CCCN(CCn2cc(Cl)cn2)CC1
Cc1[nH]c(=O)[nH]c1C(=O)N1C[C@@H]2C[C@H]1CN2C(=O)c1cccc2c1ccn2C
CCC1CCCC1C(=O)NCc1ccc(-n2cc(CO)nn2)cc1
Cc1ccc(C(=O)N2CCC(N(Cc3ccccn3)C(=O)c3sc(F)cc3C)CC2)cn1
CN1CCOC(C(=O)N2CCC(=O)NCCN(c3nccn4nnnc34)CC2)C1
CCc1cc(C)nc(NC2CC3CCC(C2)N3C(=O)c2cc(Cl)no2)n1
COC(C)C(=O)N1CCC(N2C(=O)O[C@H]3CN(CC(=O)NCC4CCCO4)C[C@H]32)C1
O=C(c1cc(-c2ccccn2)no1)N1CC[C@H]2CN(CC=CCl)C[C@H]21
Cn1cc(C(=O)N2CC3CCC3(Nc3nc(C4CCCCC4)ns3)C2)nn1
O=C1CCC[C@H](C(=O)N[C@H]2CCN(Cc3ccc(C(F)F)cc3)C2)N1
COc1nc(C)cc(N2CCC(NC(=O)Cc3cc(C)on3)C2C)n1
Cc1nc2c(c(N3C[C@@H]4CN(C(=O)COC5CCCC5)C[C@]4(C)C3)n1)CCCC2
CCC(=O)NCc1cccc(-n2cc(C3CCCC3)nn2)c1
COc1cccc(CN2C[C@@H]3OC(=O)N(C4CCN(C(=O)CNC(=O)C5CC5)C4)[C@@H]3C2)c1
C=CCCCc1cn([C@H]2CN(C(=O)[2C@@H]3C[2C@@H]3F)C[C@H]2C)nn1
Cc1cccnc1-c1cn(CC2CCCN2C(=O)c2n[nH]c3c2CCCC3)nn1
COC(=O)c1cnc(N2C[C@@H]3C[C@H]2CN3C(=O)c2ccc(C)nc2C(C)C)nc1
Cc1cc(C)c(C(=O)N[C@@H]2CCC[C@@H]2Cn2cc(C3(O)CCC3)nn2)o1
CC1(CNC(=O)C2CCN(C(N)=O)CC2)CCN(c2ccc3nccnc3n2)C1
CC1(CNC(=O)[C@@H]2C[C@H]2c2ccccc2)CN(c2nc(C3CC3)ns2)CCO1
Cn1cnc([C@@H]2CN(C(=O)C3CC3)C[C@H]2Nc2cnc(C#N)cn2)c1
O=C(CCC1CC1)N1CCC(Cn2cc(C3CCCC3)nn2)C1
CC(C)N(CCCNC(=O)C(C)C(F)(F)F)C(=O)c1cc2occc2[nH]1
Cc1cccnc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(C(C)(C)O)nn1
CN1CCCC(O)(CC(=O)N2CCC(NC(=O)c3cc(C(N)=O)[nH]n3)CC2)C1
Cc1nc(C(=O)N2CC[C@@H](Nc3cc(C(C)(C)C)nc(C(C)(C)C)n3)C2)c(C)o1
CC(COc1cccc(F)c1)NC(=O)Cn1cc(-c2ccc(C(=O)O)cc2)nn1
Cn1cccc1C(=O)N[C@@H]1CCC[C@@H]1Cn1cc(CCO)nn1
COCCOCC(=O)N[C@@H]1CCN(C(=O)c2ccc3nonc3c2)[C@H]1C
Cc1ccnc(N2C[C@@H]3CN(C(=O)Cc4cnn(C)c4)C[C@]3(C)C2)n1
CCCCCc1cn(C2CN(C(=O)CC3CCCOC3)C2)nn1
CCc1cc2c(N(C)CCN(C)C(=O)c3ccc(F)c(F)c3)ncnc2s1
CCc1ncnc(NC23CCC2CN(C(=O)C2CCCC2)C3)c1F
CN(CC(=O)N1CCC(O)(CNC(=O)C2CCC2(F)F)CC1)CC(C)(C)C
O=C(CCc1ccncc1)NC1CCN(c2cc(Cl)c(=O)[nH]n2)CC1
Cc1cc(C(=O)N2CC3CCC(NC(=O)c4ccc5cnsc5c4)C3C2)cc(Cl)n1
O=C(NC[C@]12CCC[C@H]1CN(c1ccc3nnnn3n1)C2)C1CC(F)(F)C1
CCCNC(=O)CN(C)CCN(C)C(=O)c1c[nH]c(-c2ccccc2)n1
CCC(=O)Nc1cccc(C(=O)NCC[C@H](C)NC(=O)c2cncc(OC)n2)c1
CC1(C)CN(CC2CCNC(=O)CC2)CCC1NC(=O)c1nccc2[nH]ccc12
Cc1nc(C(=O)N2CC[C@]3(NC(=O)C4CC45CCCC5)CCC[C@H]23)c(C)o1
CCc1nsc(N2CCC(C)(CNC(=O)c3cnc4n[nH]c(C)c4c3)C2)n1
Cn1cnc(C(=O)N2CC3CCC3(Nc3nc(C4CCCCC4)ns3)C2)c1
CCc1nc(C)cc(N(C)C2CC(NC(=O)c3conc3CC)C2)n1
CNc1cncc(C(=O)N2CCC3(CCCCN(C(=O)c4n[nH]c(C)c4C)C3)C2)c1
Cc1noc(C)c1C(=O)N1CC2CCC2(Nc2cc(C(C)C)ncn2)C1
COC(=O)c1cnc(N2CCCC2CN(C)C(=O)CC2(C)CCCCC2)nc1
CCc1nc(CC(=O)N2CCC(NC(=O)C3(CF)CCC3)C(C)(C)C2)cs1
Cc1ccnc(N2CC[C@@H](C)C[C@H]2CNC(=O)Cc2cc(C)on2)n1
CC(C)(C)c1cn(C2CCCN(C(=O)CC3(O)CCC3)C2)nn1
O=C(CN1CCOCC1)N[C@H]1CCC[C@H]1Cn1cc(CCCO)nn1
CCCN(C)C(=O)c1ccc(Cn2cc(-c3ccccc3CC(=O)O)nn2)cc1
Cc1cc(C(=O)N[C@@H]2CCC[C@@H]2Cn2cc(C(C)(C)O)nn2)oc1C
Cn1ccc(C(=O)NCC2CCCN2C(=O)COC2CCCC2)n1
CC(C)c1cc(N2CCN(CCNC(=O)C(C)n3cccn3)CC2)ncn1
O=C1CCC[C@H](C(=O)N[C@H]2CCCN(c3nc4ccccc4o3)C2)N1
CCn1cc(C(=O)N2CCCCCC(Nc3nc(C)ccc3C#N)C2)cn1
COCCc1nsc(N[C@H](C)CNC(=O)c2cc[nH]c2)n1
CC(C(=O)NCCN(C(=O)c1cccnc1N1CCCC1)C1CC1)=C1CCC1
CCc1nc(C#N)cc(N2CCC(C3(NC(=O)c4ccccc4)CC3)CC2)n1
O=C(NC1C2CC1N(CCOc1cccc(F)c1)C2)c1cc2ncccn2n1
CCOCC(=O)N1C[C@@H](NCc2nonc2C)[C@H](c2cn(C)cn2)C1
CCOc1nc(C(=O)N[C@@H](C)Cn2cc(C3CC3)nn2)co1
CC(C)c1nsc(CN(C)C2CCCN(C(=O)Cc3ccsc3)C2)n1
Cc1csc2ncnc(NCC(C)NC(=O)c3ccoc3)c12
